.custom-shape-divider-top-1653709967 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
   
    min-height: 100vh;
  }
  
  .custom-shape-divider-top-1653709967 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }
  
  .custom-shape-divider-top-1653709967 .shape-fill {
    fill: #FB7374;
  }
  
  
  footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fb7374;
    height: 70px;
  }
  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1653709967 svg {
      width: calc(300% + 1.3px);
      height: 278px;
    }
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-top-1653709967 svg {
      width: calc(300% + 1.3px);
      height: 168px;
    }
  }