@font-face {
  font-family: myFirstFont;
  src: url(assets/fonts/HindSiliguri-Bold.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #F7F6FB;
  font-family: myFirstFont;
  /* overflow: hidden; */
  
}

